# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/angular-exam/dist
/angular-exam/tmp
/angular-exam/out-tsc
# Only exists if Bazel was run
/angular-exam/bazel-out

# dependencies
/node_modules
/angular-exam/node_modules

# profiling files
/angular-exam/chrome-profiler-events*.json
/angular-exam/speed-measure-plugin*.json

# IDEs and editors
/angular-exam/.idea
/angular-exam/.project
/angular-exam/.classpath
/angular-exam/.c9/
/angular-exam/*.launch
/angular-exam/.settings/
/angular-exam/*.sublime-workspace

# IDE - VSCode
/angular-exam/.vscode/*
/angular-exam/!.vscode/settings.json
/angular-exam/!.vscode/tasks.json
/angular-exam/!.vscode/launch.json
/angular-exam/!.vscode/extensions.json
/angular-exam/.history/*

# misc
/angular-exam/.sass-cache
/angular-exam/connect.lock
/angular-exam/coverage
/angular-exam/libpeerconnection.log
/angular-exam/npm-debug.log
/angular-exam/yarn-error.log
/angular-exam/testem.log
/angular-exam/typings

# System Files
/angular-exam/.DS_Store
/angular-exam/Thumbs.db



# React gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/react-exam/node_modules
/react-exam/.pnp
/react-exam/.pnp.js

# testing
/react-exam/coverage

# production
/react-exam/build

# misc
/react-exam/.DS_Store
/react-exam/.env.local
/react-exam/.env.development.local
/react-exam/.env.test.local
/react-exam/.env.production.local

/react-exam/npm-debug.log*
/react-exam/yarn-debug.log*
/react-exam/yarn-error.log*





# Java gitignore
/HELP.md
/target/
/!.mvn/wrapper/maven-wrapper.jar

### STS ###
/.apt_generated 
/.classpath
/.factorypath
/.project
/.settings
/.springBeans
/.sts4-cache

### IntelliJ IDEA ###
/.idea
/*.iws
/*.iml
/*.ipr
/*.mvn

### NetBeans ### 
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
/bin
/.metadata/

